/* Colors */

$colors: (
    "primary": #D98563,
    "secondary": #032855,
    "secondary-dark": #162336,
    "secondary-soft": #4E5B6E,
    "gray": #777777,
    "gray-100": #4E4E4E,
    "black": #2E2E2E,
    "dark": 000000,
    "light": #F5F5F5,
    "light-100": #F8F8F8,
    "light-200": #F6F5F3,
    "light-creme": #EDEDED,
    "ghost": #E6E6E6,
    "white": #ffffff,
);

$primary: #D98563;
$secondary:#032855;
$secondary-dark:#162336;
$secondary-soft:#4E5B6E;
$gray: #777777;
$gray-100:#4E4E4E;
$black :#2E2E2E;
$dark :#000000;
$light:#F5F5F5;
$light-100:#F8F8F8;
$light-200:#F6F5F3;
$light-creme:#EDEDED;
$white: #ffffff;
$ghost :#E6E6E6;

$transition:0.5s;

// fonts
$barlow: "barlow";
$avenir: "avenir";
