.video-hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    video {
        position: absolute;
        left: 0;
        right: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.index-hero-section {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
        content: "";
        background: rgb(0, 0, 0);
        background: linear-gradient(18deg, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
    .content {
        width: 380px;
        transition: 2s;
        position: relative;
        @include media-down("lg") {
            padding-left: 20px;
        }
        @include media-down("md") {
            width: auto;
        }
        @media (max-height: 500px) {
            padding-top: 120px;
        }

        .title {
            font: 300 80px $barlow;
            color: $white;
            margin-bottom: 18px;
            @include media-down("lg") {
                font-size: 60px;
            }
            @include media-down("sm") {
                font-size: 40px;
            }
        }
        p {
            color: $white;
            margin-bottom: 50px;
        }
    }
    .redirect {
        margin-top: 26px;
        display: flex;
        gap: 12px;
    }
}

.about-border-card {
    border: solid 1px $light-200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0 19px 0;
    flex-direction: column;
    gap: 22px;
    font: 600 18px $barlow;
}
.about-improvements-section {
    background-image: url(../img/bg-seven.png), url(../img/bg-seven.png);
    background-repeat: no-repeat;
    background-position: -35% center, 125% center;
    background-size: 580px 580px, 540px 540px;
    @include media-down("xl") {
        background: none;
    }
}
.about-content {
    margin-top: 40px;
    .center {
        text-align: start;
        @include media-down("lg") {
            text-align: center;
        }
        @include media-down("md") {
            text-align: start;
        }
    }
    .title {
        margin-bottom: 30px;
        font: 500 80px $barlow;
        @include media-down("md") {
            font-size: 50px;
        }
        @include media-down("sm") {
            font-size: 30px;
        }
    }
    .read-more {
        display: flex;
        align-items: center;
        color: $primary;
        font: 500 18px $barlow;
        margin-top: 20px;
        transition: $transition;
        &:hover {
            color: rgba($color: $primary, $alpha: 0.6);
        }
    }

    .content {
        margin-left: -120px;
        padding-right: 140px;
        color: $gray;
        @include media-down("xxl") {
            padding-right: 40px;
        }
        @include media-down("md") {
            margin-left: 0px;
            padding-left: 0px;
        }
    }
}

// İndex Why Us

.why-us-section {
    background-color: $black;
    background-image: url(../img/bg-half-seven.png);
    background-repeat: no-repeat;
    background-position: 45% center;
    @include media-down("lg") {
        background-image: none;
    }
}
.why-us-wrap {
    padding-bottom: 100px;
    max-width: 480px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    color: $white;
    .title {
        font: 500 48px $barlow;
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 70px;
    }
    .redirect {
        margin-top: 42px;
        display: flex;
        gap: 12px;
    }
}
.why-us-image-side {
    max-height: 650px;
    position: relative;
    height: 650px;
    display: flex;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .content {
        display: flex;
        background-color: rgba($color: $white, $alpha: 0.2);
        padding: 36px 35px;
        backdrop-filter: blur(5px);
        color: $white;
        align-items: center;
        max-width: 476px;
        width: 100%;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 60px;
        margin-left: 70px;
        margin-right: 40px;
        .title {
            font: 500 32px $barlow;
            margin-bottom: 10px;
        }
        .sub {
            font: 400 23px $barlow;
        }
        i {
            font-size: 36px;
        }
    }
}

@include media-down("lg") {
    .why-us-wrap {
        padding-bottom: 10px;
        max-width: auto;
        margin: 40px;

        p {
            margin-bottom: 20px;
        }
        .redirect {
            margin-top: 22px;
            display: flex;
            gap: 12px;
        }
    }
    .why-us-image-side {
        height: 400px;
        .content {
            .title {
                font: 500 32px $barlow;
                margin-bottom: 10px;
            }
            .sub {
                font: 400 23px $barlow;
            }
            i {
                font-size: 36px;
            }
        }
    }
}

@include media-down("sm") {
    .why-us-wrap {
        margin: 20px;
        .title {
            font: 500 36px $barlow;
        }
    }
    .why-us-image-side {
        height: 400px;
        .content {
            padding: 20px;
            margin-left: 40px;
            .title {
                font: 500 24px $barlow;
                margin-bottom: 10px;
            }
            .sub {
                font: 400 18px $barlow;
            }
            i {
                font-size: 28px;
            }
        }
    }
}
// İndex misyon side

.misyon-section {
    padding: 0;
    height: 1000px;
    position: relative;
    .container {
        padding-right: 30px;
    }
}
.misyonSwiper {
    height: 100%;
    .swiper-pagination {
        position: relative;
        z-index: 1;
        bottom: 200px;
        display: flex;
        justify-content: end;
        gap: 17px;
        .swiper-pagination-bullet {
            border: solid 2px $light;
            width: 18px;
            height: 18px;
            &.swiper-pagination-bullet-active {
                border-color: $white;
                background-color: $white;
            }
        }
    }
}
.misyon-wrap {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
        content: "";
        background: rgb(0, 0, 0);
        background: linear-gradient(294deg, rgba(0, 0, 0, 1) 13%, rgba(0, 0, 0, 0) 51%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .container {
        z-index: 1;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .play-btn {
        background-color: rgba($color: $white, $alpha: 0.5);
        backdrop-filter: blur(5px);
        width: 145px;
        height: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 145px;
        position: absolute;
        left: 40%;
        top: 52%;
        z-index: 3;
        transform: translate(-50%, -50%);
        transition: $transition;
        animation-duration: 3s;
        &:hover {
            background-color: rgba($color: $white, $alpha: 0.8);
            i {
                transform: scale(1.2);
            }
        }
        i {
            transition: $transition;
            color: rgba($color: #000000, $alpha: 0.5);
            font-size: 70px;
            padding-left: 8px;
        }
    }
    .content {
        color: $white;
        width: 600px;
        text-align: end;
        animation-duration: 2s;

        .title {
            font: 500 48px $barlow;
            margin-bottom: 20px;
        }
        p {
        }
    }
}

@include media-down("xxl") {
    .misyon-wrap {
        .content {
            width: 400px;
        }
    }
}
@include media-down("lg") {
    .misyon-section {
        height: 600px;
    }
    .misyonSwiper {
        .swiper-pagination {
            bottom: 100px;
        }
    }
}

@include media-down("md") {
    .misyon-section {
        height: 500px;
    }
    .misyon-wrap {
        .play-btn {
            width: 100px;
            height: 100px;
            left: 30%;
            top: 80%;
            i {
                font-size: 40px;
                padding-left: 8px;
            }
        }
        .content {
            .title {
                font: 500 28px $barlow;
                margin-bottom: 20px;
            }
        }
    }
}

@include media-down("sm") {
    .misyon-section {
        height: 400px;
    }

    .misyon-wrap {
        .container {
            align-items: normal;
            padding-top: 60px;
        }
        .play-btn {
            width: 80px;
            height: 80px;
            left: 30%;
            top: 80%;
            i {
                font-size: 40px;
                padding-left: 8px;
            }
        }
        .content {
            .title {
                font: 500 28px $barlow;
                margin-bottom: 20px;
            }
        }
    }
}

// İndex project side
.index-our-project {
    padding-top: 48px;
    background-image: url(../img/bg-seven.png), url(../img/bg-seven.png), url(../img/bg-seven.png);
    background-repeat: no-repeat;
    background-size: 545px 545px;
    background-position: -30% 10%, 130% 10%, 130% 80%;
    .project-content-container {
        display: flex;
        align-items: center;
    }
}
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 140px;
    @include media-down("lg") {
        gap: 50px;
    }
    .back-object {
        background-color: $secondary;
    }
    .row:nth-child(2) {
        flex-direction: row-reverse;
        .back-object {
            background-color: $primary;
        }
        .content {
            padding-left: 70px;
            @include media-down("lg") {
                padding-left: 0;
            }
        }
    }
    .content {
        p {
            margin-bottom: 40px;
            width: 400px;
        }
    }
    .img-capsule {
        img {
            width: 716px;
            height: 577px;
            object-fit: cover;
            padding-right: 80px;
        }
    }
}

@include media-down("lg") {
    .index-our-project {
        background-image: none;
    }
    .projects-list {
        .content {
            p {
                width: auto;
            }
        }
        .img-capsule {
            text-align: center;
            padding-right: 0px;
            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                padding-right: 0;
            }
        }
    }
}

@include media-down("sm") {
    .projects-list {
        .img-capsule {
            img {
                height: 250px;
            }
        }
    }
}

.cta-section {
    background-image: url(../img/oppacity-seven.png);
    background-repeat: no-repeat;
    background-size: 545px 545px;
    background-position: 10% center;
    background-color: $secondary;
    .container-fluid {
        padding: 0 130px;
    }
    .col-xxl-4 {
        display: flex;
        align-items: center;
        p {
            font-weight: 500;
            color: $white;
            padding-left: 80px;
        }
    }
}

@media (max-width: 1700px) {
    .cta-section {
        .container-fluid {
            padding: 0 50px;
        }
    }
}

@include media-down("xxl") {
    .cta-section {
        .col-xxl-4 {
            p {
                padding-left: 0px;
            }
        }
    }
}
@include media-down("lg") {
    .cta-section {
        background-image: none;
    }
}

@include media-down("sm") {
    .cta-section {
        .container-fluid {
            padding: 0 20px;
        }
    }
}

.blog-section {
    background-color: #fcfcfc;
}
.blog-section .container {
    @media (min-width: 1700px) {
        max-width: 1600px;
    }
}
.blog-swiper-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1700px) {
        padding: 0 70px;
    }
    @include media-down("sm") {
        padding: 10px;
        .b-nav-btn {
            display: none;
        }
    }
}
.blogFeaturesSwiper {
    margin: -10px;
    padding: 10px;
}

.brandSwiper {
    margin-top: 50px;
    margin-left: -120px;
    margin-right: -120px;
    text-align: center;
    @include media-down("sm") {
        margin-left: 0;
        margin-right: 0;
    }
    img {
        max-width: 232px;
        max-height: 50px;
    }
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50px;
    }
}
