.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: $white;
    font: 600 16px $barlow;
    background-color: $primary;
    padding: 20px;
    min-width: 230px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: $transition;
    cursor: pointer;
    &:hover{
        background-color: rgba($color: $primary, $alpha: .6);
    }
    &.white{
        background-color: $white;
        color: $primary;
        &:hover{
            background-color: rgba($color: $white, $alpha: 0.8);
        }
    }
  
    i {
        font-size: 18px;
    }
    &.position-icon{
        position: relative;
        i{
            position: absolute;
            right: 16px;
            font-size: 24px;
        }
    }
}

.btn-blur {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font: 600 16px $barlow;
    background-color: rgba($color: $white, $alpha: 0.1);
    padding: 20px;
    min-width: 230px;
    backdrop-filter: blur(10px);
    transition: $transition;
    cursor: pointer;
    &.bordered {
        border: solid 2px $white;
    }
    &:hover {
        background-color: rgba($color: $white, $alpha: 0.4);
    }
}
.btn-redirect {
    border: solid 2px $white;
    min-width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: $white, $alpha: 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    border-radius: 32px;
    transition: $transition;
    cursor: pointer;
    &:hover {
        background-color: rgba($color: $white, $alpha: 0.4);
    }
    &.primary{
        border-color: $primary;
        background-color: $white;
        color: $primary;
        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
}

.b-nav-btn {
    min-width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 49px;
    background-color: $white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 24px;
    color: $primary;
    transition: $transition;
    cursor: pointer;
    &:hover {
        background-color: rgba($color: $light, $alpha: 0.5);
    }
}

.btn-rounded-redirect {
    padding: 25px 5px 25px 25px;
    min-width: 216px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 38px;
    border: solid 1px #eaeaea;
    font: 600 16px $barlow;
    gap: 14px;
    color: $primary;
    transition: $transition;
    i{
        font-size: 20px;
    }
    &:hover {
        background-color: #eaeaea;
    }
}
