footer {
    background-image: url(../img/oppacity-seven.png);
    background-size: 333px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $secondary;
    padding: 120px 0;
    font-weight: 500;
    color: $white;
    font-size: 16px;
    @include media-down("lg") {
        padding: 40px 0;
    }
    .footer-title {
        font: 500 25px $barlow;
        color: $primary;
        margin-bottom: 20px;
    }
    .layer-icon {
        display: flex;
        align-items: center;
        gap: 10px;

        i {
            font-size: 32px;
            color: $primary;
        }
    }
    .socials {
        display: flex;
        gap: 17px;
        font-size: 18px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px #243b5d;
            transition: $transition;
            width: 31px;
            height: 31px;
            border-radius: 3px;
            &:hover {
                background-color: #243b5d;
            }
        }
    }
}

.footer-below {
    background-color: $primary;
    color: $white;
    font: 500 14px $barlow;
    .container {
        display: flex;
        justify-content: space-around;
        padding: 26px 0;
        @include media-down("sm"){
            flex-direction: column;
            text-align: center;
        }
    }
    a {
        transition: $transition;
        padding: 0 10px;
        &:hover {
            color: $secondary;
        }
        @include media-down("sm"){
        padding: 4px;
        }
    }
}
