section {
    padding: 100px 0;
    @include media-down("lg") {
        padding: 50px 0;
    }
}

.pagination-default {
    position: relative;
    margin-top: 35px;
    justify-content: center;
    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        border: solid 2px $gray;
        background: none;
        &.swiper-pagination-bullet-active {
            background-color: $gray;
        }
    }
}
.route-section {
    padding-top: 130px;
}

