section {
    padding: 100px 0;
    @include media-down("lg") {
        padding: 50px 0;
    }
    &.pt-0-lg{
        @include media-down("lg") {
            padding: 0 0 50px 0;
        }
    }
}

.pagination-default {
    position: relative;
    margin-top: 35px;
    justify-content: center;
    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        border: solid 2px $gray;
        background: none;
        &.swiper-pagination-bullet-active {
            background-color: $gray;
        }
    }
}
.route-section {
    padding-top: 130px;
}


// image capsule

.img-capsule {
    .back-object {
        width: 80%;
        height: 400px;
        margin-left: auto;
    }
    img{
        margin-bottom: -350px;
    }
}
@include media-down("xxl"){
    .img-capsule {
        .back-object {
            height: 300px;
           
        }
        img{
            margin-bottom: -250px;
        }
    }
   
}
@include media-down("lg"){
    .img-capsule {
        .back-object {
            display: none;
        }
        img{
            margin-bottom: 0;
        }
    }
}
