.h3-title {
    font: 500 48px $barlow;
}
.section-v1-content {
    padding-bottom: 80px;

    &.about-page {
        padding-left: 220px;
        padding-top: 60px;
        padding-bottom: 80px;
        @include media-down("lg") {
            padding-left: 10px;
        }
    }
    &.owner {
        padding-top: 0;
    }
    &.white {
        color: white;
    }
    &.blog-hero {
        padding-bottom: 0px;
        padding-top: 20px;
    }

    @media (max-width: 1600px) {
        padding-left: 20px;
    }
    @include media-down("xxl") {
        padding-top: 100px;
    }
    .sub-title {
        color: $primary;
        font: 500 20px $barlow;
        margin-bottom: 18px;
    }
    .title {
        font: 500 50px $barlow;
        margin-bottom: 30px;
        @include media-down("md") {
            margin-bottom: 20px;
            font-size: 30px;
        }
    }
}

.section-v2-content {
    padding: 40px;
    &.white{
        color: $white;
    }
    .sub-title {
        color: $primary;
        font: 500 20px $barlow;
        margin-bottom: 18px;
    }
    .title {
        font: 500 50px $barlow;
        margin-bottom: 30px;
        @include media-down("md") {
            margin-bottom: 20px;
            font-size: 30px;
        }
    }
}
@include media-down("sm") {
    .h3-title {
        font-size: 30px;
    }
}

.primary-title{
    font: 600 18px $barlow;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $primary;
    i{
        font-size: 32px;
    }
}